<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <googlegeocoding>
                <geocodingconfig>
                    <apiurl>maps.googleapis.com/maps/api/geocode/json</apiurl>
                </geocodingconfig>
        </googlegeocoding>
        <webapi>
            <validation>
                <input_limit_enabled>1</input_limit_enabled>
                <complex_array_limit>20</complex_array_limit>
                <maximum_page_size>300</maximum_page_size>
                <default_page_size>20</default_page_size>
            </validation>
        </webapi>
    </default>
</config>
